<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="comport" value="COM7"/>
    <add key="txbinpath" value="C:\Jennic\cygwin\jennic\SDK\Application\rc24\JN5139_Build\Release\rc24tx.bin"/>
    <add key="rxbinpath" value="C:\Jennic\cygwin\jennic\SDK\Application\rc24\JN5139_Build\Release\rc24rx.bin"/>
    <add key="txbinpath5148" value="C:\Jennic\Application\rc24\tx24\build\tx24_JN5148.bin"/>
    <add key="rxbinpath5148" value="C:\Jennic\Application\rc24\rx24\build\rx24_JN5148.bin"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
